<!DOCTYPE html>
<html>
<head>
  <title>AbstractFeatureBranch</title>
  <%= stylesheet_link_tag    "abstract_feature_branch/application", media: "all" %>
  <%= javascript_include_tag "abstract_feature_branch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
